.Navigation-bar {
  max-width: 100%;
  background-color: #ef9273;
  color: #fef9f8;
}

.Nav-logo {
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
}


.Nav-menu li {
  list-style: none;
  font-size: 1em;
  font-weight: 500;
  margin-right: 1.2em;
}

.Nav-menu a {
  text-decoration: none;
  color: #fef9f8;
}

.Nav-menu a:hover {
  color: #e0e0e0;
}

.img-section {
  background-color: #ef9273;
  
}

.img-shadow {
 box-shadow:#ef9273 -15px 15px;
 height: 60%;
 border-radius: 5%;
}
.description-section button{
  background-color: #ef9273;
  border: none;
}

.description-section button:hover{
  border: #ef9273 1.5px solid !important;
  background-color: #e0e0e0;
  color: #ef9273 !important;
}
.envelope{
  transition: width 1s ease-out;
}
.envelope:hover{
  width: 99%;
}
@media(max-width : 768px){
  .description-section p {
    text-align: justify;
  }
}